.Modal {
    position: fixed;
    z-index: 500;
    background-color: rgba(60, 128, 131, 0.9);
    border: 2px solid white;
    border-radius: 10px;
    height: 53%;
    width: 30%;
    padding: 0px;
    left: 35%;
    top: 25%;
    box-sizing: border-box;
    transition: all 0.5s ease-out;
}

